/* font-family: 'Lora', serif;  */
body {
    background-color: #93CFDC;
  }

  nav {
    background-color: rgb(240, 240, 134); 
    list-style-type: none;
    text-align: center;
    height: 50px;
    margin: 0px;
    padding: 0px;
  }
  
  nav li {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
  }

 .clearfix {
    overflow: auto;
    padding: 10px;
    border: black;
    column-gap: 30px;
    text-align: center;
  }
/*   
  .div2 {
    padding: 10px;
    border: 3px;
  } */

  .column {
    float: left;
    column-gap: 80px;
    width: 30%;
    padding: 20px;
    height: 300px;
    border-style: solid;
    text-align: center;
  }
   
  footer {
    text-align: center;
    background-color: none;
    color: black;
  }


  /* Create three equal columns that floats next to each other 
  

  
  /* Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 700px;
    background-color: pink;
}

header>.hero {
    position: relative;
    height: 100%;
}

header>.hero,
header>.hero img {
    width: 100%;
}

header>.hero img {
    height: auto;
}

header h1 {
    position: absolute;
    top: 80%;
    left: 40%;
    color: lightgrey;
    font-size: 60px;
}

main {
    margin-top: 50px;
}

.column {
    float: left;
    width: 33%;
    min-height: 300px;
    padding: 10px;
    /* margin: 20px 2px; 
    background-color: lightsteelblue;
    border: 0.5px solid;
}

.clearfix {
    clear: both;
}
